---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'

const { headTitle } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{headTitle}</title>
  </head>
  <body>
    <Header title="COPASTRO ðŸ·" />
    <main>
      <slot />
    </main>
    <Footer text="TOPOTA Team. 2022" />
    <style is:global>
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #da62c4 30%,
          white 60%
        );
      }

      * {
        box-sizing: border-box;
      }

      html {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
          Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
          sans-serif, sans-serif;
        background-image: radial-gradient(#4e7cd766 1px, transparent 1px),
          radial-gradient(#4e7cd766 1px, transparent 1px);
        background-position: 0 0, 25px 25px;
        background-size: 50px 50px;
      }
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        align-items: center;
        margin: 0;
      }
      main {
        margin: 1rem;
        flex: 1 1 auto;
        max-width: 50rem;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
  </body>
</html>
